{% extends "internal/base.html" %}
{% import "internal/post-card.html" as card %}

{% block title %}{{author.name}}{% endblock %}
{% block description %}{{author.description | string}}{% endblock %}

{% block content %}
<header class="page-header reveal">

    <div class="category">
        {%- set ns = namespace(elements=[]) -%}
        {%- for group in author.groups -%}
        {%- set element = '<a href="/groups/' ~ group ~ '">' ~ group ~ '</a>' -%}
        {%- set ns.elements = ns.elements + [element] -%}
        {%- endfor -%}
        {{ ns.elements | join('<span style="opacity: 0.4; margin-inline: 10px;">•</span>') }}
    </div>

    <h1>{{author.name}}</h1>

    <p class="post-description">{{author.bio.html(site)}}</p>
</header>

<div class="page-image reveal">
    {% if author.image is not none %}
    {{author.image.html(site)}}
    {%- endif -%}
</div>

<section class="container" style="margin-top: 80px;">
    <div class="section-heading reveal">
        <h2>Posts</h2>
    </div>

    <div class="post-grid">
        {% for post in posts %}
            {{ card.card(post, site, now) }}
        {% endfor %}
    </div>
</section>
{% endblock %}